.container {
  height: 328px;
  margin: 150px 0 0 -418px;
  top: 50%;
  width: 838px;
  left: 50%;
  position: absolute;
}

.left {
  background: white;
  padding: 24px;
  height: 279px;
  width: 475px;
  border: 1px solid #6fa3c4;
  -webkit-box-shadow: 0 0 125px rgba(255,255,255,.35);
  -moz-box-shadow: 0 0 125px rgba(255,255,255,.35);
  box-shadow: 0 0 125px rgba(255,255,255,.35);
}

.top {
  left: 536px;
  background: white;
  border: 1px solid #6fa3c4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.bottom {
  border-bottom: 1px solid #e2e2e2;
  -webkit-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  color: #777;
  display: block;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 12px;
  padding: 10px 12px;
  position: relative;
  text-shadow: 0 1px 0 rgba(255,255,255,0.6);
}
